# make sure not to upload PRIVATE keys & *.pem
/python/api_PRIVATE_API_KEY_T212

# make sure not to upload output files
/python/api_trading212.trading_instruments.*.txt



# make sure not to upload python modules . eg: `requests` folder
/python/requests/
